body {
    background-color: #757575;
}

.indexButtons {
    margin: 10px;
    padding: 10px;
}

#indexBackground {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50%;
}