body {
    background-color: #757575;
    color: #fafafa;
}

h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttons {
    margin: 5px;
    width: 150px;
}

.indexPlay {
    font-size: 300%;
    border-radius: 500px;
    padding: 2%;
    text-align: center;
    height: auto;
}

.indexBackground {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50%;
}

#playButtonRock {
    background-image: url(/img/rock.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px;
}

#playButtonPaper {
    background-color: grey lighten-1;
    background-image: url(/img/paper.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px;
}

#playButtonScissors {
    background-image: url(/img/scissors.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px;
}

.logo {
    background-image: url(/img/.logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    background-image: url(/img/Background.png);
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 600px;
}

.chat {
    border-style: solid;
    border-width: 3px;
    border-color: #fafafa;
    height: 20vw;
    overflow-y: scroll;
}

.hidden {
    display: none
}

.inputField {
    color: #fafafa;
}

#buttonPosition {
    padding-top: 80px;
}

#spacing {
    height: 75vh;
}

.muteButton {
    top: 100%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}